In [1]:
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasRegressor
from keras.utils import np_utils
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import LabelEncoder
from sklearn.pipeline import Pipeline

In [8]:
##use these in jupyter

In [4]:
dataframe = pd.read_csv("/content/Mumbai.csv")
df = dataframe.drop("Location",axis=1)
df.head()

,Price,Area,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,RainWaterHarvesting,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,4850000,720,1,1,1,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
1,4500000,600,1,1,1,1,1,0,1,1,...,1,0,1,0,0,0,0,0,0,0
2,6700000,650,1,1,1,1,1,0,1,1,...,1,0,1,0,0,0,0,0,0,0
3,4500000,650,1,1,1,0,0,1,0,1,...,1,1,1,0,0,0,0,0,1,0
4,5000000,665,1,1,1,0,0,1,0,1,...,1,0,1,0,0,0,0,0,0,0

In [7]:
X = df.iloc[:, 0:13]  # Select columns from index 0 to 12
Y = df.iloc[:, 13]    # Select column at index 13

In [9]:
def baseline_model():
  model = Sequential()
  model.add(Dense(13, input_dim=13,kernel_initializer='normal', activation='relu'))
  model.add(Dense(1, kernel_initializer='normal'))
  model.compile(loss='mean_squared_error',
                optimizer='adam')
  return model

In [10]:
estimator = KerasRegressor(build_fn=baseline_model,
                            epochs=5, batch_size=5, verbose=0)
kfold = KFold(n_splits=10)
results = cross_val_score(estimator, X, Y, cv=kfold)
print('\n')
print("7_Govind Saini \n")
print("Baseline: %.2f%% (%.2f%%)" % (results.mean()*100, results.std()*100))

<ipython-input-10-4ae353ddcd3e>:1: DeprecationWarning: KerasRegressor is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead. See https://www.adriangb.com/scikeras/stable/migration.html for help migrating.
  estimator = KerasRegressor(build_fn=baseline_model,

7_Govind Saini

Baseline: -1404897.12% (2782042.58%)

In [12]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive